/*--- customize dropdown appearance ---*/
.dropdown-menu.fade {
  display: block;
  border: 0;
  //border-top: 3px solid $primary;
  //border-radius: 0;
  @include box-sad(0, 6px, $icon-color, 1);
  top: 80px !important;
  opacity: 0;
  transition: top .3s ease-in-out, opacity .3s ease-in-out, z-index .3s ease-in-out;
  z-index: -1;
}

.dropdown-menu.fade.show {
  top: 0 !important;
  opacity: 1;
  z-index: 9;
}

::placeholder {
  color: $text-secondary!important;
}

::selection {
  background-color: rgba($primary, .2);
}

/*------- more info question mark btn style ---------*/
.more-info-btn {
  border: 3px solid #636363;
  padding: 0 6px;
  border-radius: .2rem;
}