/**
* Order of these files is important
*/
@charset "utf-8";
// bootstrap
@import "vendor/bootstrap/bootstrap";
//@import "vendor/simplelightbox";

@import "base/helpers";
@import "theme/theme";

@import "components/lightbox";
@import "components/card";
@import "components/user-profile";
@import "components/user-activity-card";

@import "modules/header";
@import "modules/megamenu";
@import "modules/news-feed";
@import "modules/feed-carousel";
@import "modules/chat-window";
@import "modules/popup-chat";
@import "modules/footer";


@import "pages/profile";
@import "pages/signup";
@import "pages/signup-v2";
@import "pages/login";
@import "pages/chat";
@import "pages/404";


