//chat window header height
$cwhHeight: 60px;

#chat-window {
  width: 340px;
  position: fixed;
  right: 20px;
  z-index: 99;
  transition: all .3s;
  max-height: 90vh;

  //&.expanded {
  //  //top: auto;
  //  //bottom: 0;
  //  transition: all .3s;
  //}

  // refactor to svg general styles
  svg {
    height: 22px;
    width: 22px;
    cursor: pointer;
    * {
      fill: $icon-color;
      stroke: $icon-color;
      transition: .3s;
    }
    &:hover {
      * {
        fill: $primary;
        stroke: $primary;
      }
    }
  }

  .card-head {
    padding: 1.25rem;
    border-bottom: 1px solid #ebebeb;
    height: $cwhHeight;

    [data-new-message='true'] {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: -10px;
        top: -2px;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: $chat;
      }
    }

    .icon {
      svg {
        width: 18px;
        cursor: pointer;
        * {
          fill: $text-secondary;
        }
        &:hover {
          * {
            fill: $primary;
          }
        }
      }
    }
  }

  .chat-window__online {
    .user__pp:after {
      content: '';
      position: absolute;
      bottom: 5px;
      right: 0;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: $chat;
    }
  }
  .user__pp {
    width: 50px;
    position: relative;
  }

  .search__chat-list {
    position: relative;
  }

  .search__icon,
  .chat-settings {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    svg {
      width: 16px;
    }
  }

  .chat-settings {
    right: 10px;
    left: auto;
  }

}

#chat-window-toggle {
  cursor: pointer;
}