.nav-item {
  position: relative;
  &--has-dropdown {
    //position: absolute;
    // triangle indicator shape
    &.show:before {
      content: '';
      position: absolute;
      bottom: -13px;
      left: 50%;
      transform: translateX(-50%);
      width: 0px;
      height: 0px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #ffffff;
      z-index: 999;
    }
  }
}

.mw-megamenu {
  position: absolute;
  top: 11px !important;
  left: 0;
  width: 400px;
  max-height: 70vh;
  @extend .card;
  overflow: visible;
  @include box-sad();
  opacity: 0;
  z-index: -1;
  display: none !important;
  padding: 0;
  overflow: hidden;
  
  &.show {
    display: flex !important;
    opacity: 1;
    z-index: 99;
  }

  .mw-megamenu__header {
    border-bottom: 1px solid $border-color;
  }

  &__body {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: white;
      outline: none;
      border-radius: 50px;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: $border-color;
      }
    }
  }

  // individual menu item
  &__line__item {
    background-color: rgba($primary, .08);
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
      border-radius: 0 0 10px 10px;
    }

    &:hover {
      background-color: rgba($primary, 0.05)  !important;
    }

    &__link {
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      color: $text-primary;
      padding: 10px 15px;

      &:hover {
        color: $text-primary;
      }
    }

    .notification-body {
      margin-left: 1rem;
      font-size: 14px;
    }

    &.seen {
      background-color: #ffffff;
    }
  }

  //megamenu footer
  &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 30px 3px rgba(0,0,0,.1);
    background-color: #ffffff;

    .btn {
      border-radius: 0 0 10px 10px;
      background-color: #ffffff;
      border: 0;
      &:hover {
        border: 0;
        background-color: rgba($primary, .1);
      }
    }
  }

  // svg icons
  svg {
    fill: $icon-color;
    width: 32px;
  }
}
// all seen btn style
#notification-all-seen,
#message-all-seen {
  &:hover {
    color: $primary;
    cursor: pointer;
    text-decoration: underline;
  }
}
/*--- notification megamenu styles ---*/
#notifications__mega-menu {
  left: 160px !important;
}

/*--- messages mega menu styles ---*/
#messages__mega-menu {
  top: 15px !important;
  left: 160px !important;
}

/*--- settings mega menu styles ---*/
#settings__mega-menu {
  left: 100px !important;
  .mw-megamenu__line__item {
    background-color: white;
    &:hover {
      background-color: $light;
    }

    &__link {
      align-items: center;
    }
  }
}

/*--- settings mega menu styles ---*/
#more-options-dowpdown {
  width: 240px;
  top: 15px !important;
  border-radius: 10px 0 10px 10px;
  .mw-megamenu__line__item {
    background-color: white;
    &:hover {
      background-color: $light;
    }

    &__link {
      align-items: center;
      padding: 10px 20px;
    }
  }
}

@media screen and (max-width: 700px) {
  .dropdown-menu.dropdown-menu-right.mw-megamenu {
    width: 100vw;
    left: 0;
    top: 100px;
    //position: fixed !important;
  }
  #notifications__mega-menu,
  #messages__mega-menu,
  #settings__mega-menu {
    left: -5px!important;
    //right: 0!important;
    //height: 100vh;
    //max-height: 100vh;
  }
}