// user feed column
.user-feed {
  margin-top: 2rem;
}
// add new post styles
#add-new-post {
  position: relative;

  .user_info {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 50px;
    transition: .8s;
  }

  .custom-textarea {
    margin-bottom: 30px;
  }

  #custom-img-upload-input,
  #custom-video-upload-input {
    visibility: hidden;
    width: 35px;
  }

  &.focus-mobile {
    .user_info {
      opacity: 0;
      z-index: -1;
    }
    .add-post-textarea {
      padding: 30px 40px 30px 30px;
    }
    #insert-emoji {
      padding: 10px 10px 0 0;
    }
  }
}
// general add post extention icons styles
.status-update-ext {
  padding: 0 5px;

  .input-group {
    margin-right: 30px;
  }

  svg {
    cursor: pointer;
    width: 26px;

    * {
      fill: $icon-color;
      stroke: #fff;
      transition: all .3s ease-in-out;
    }
    &:hover * {
      fill: $primary;
      stroke: #fff;
    }
  }
}

.custom-video-upload {
  svg  {
    * {
      stroke: $icon-color;
      fill: $icon-color;
      stroke-width: 0;
    }
  }
}

.tag-user-btn {
  svg {
    width: 22px;
    * {
      stroke-width: 0;
    }
  }
}

.share-location-btn {
  svg  {
    width: 20px;
    * {
      stroke: $icon-color;
      fill: transparent;
      stroke-width: 2;
    }
    &:hover * {
      stroke: $primary;
      fill: transparent;
    }
  }
}

// add post input field
.add-post-textarea {
  resize: none;
  box-shadow: 0 3px 20px 0 rgba(#D3D8E0, .4);
  padding: 30px 60px 30px 100px;
  transition: .8s;

  &:focus,
  &:hover,
  &:active {
    box-shadow: 0 3px 20px 0 rgba(#D3D8E0, .4);
    border: 1px solid $border-color;
  }
}

#insert-emoji {
  position: absolute;
  right: 0;
  padding: 30px 30px 0 0;

  svg {
    height: 22px;
    width: 22px;
    cursor: pointer;

    * {
      fill: $icon-color;
      stroke: $icon-color;
    }

    &:hover {
      * {
        fill: $primary;
        stroke: $primary;
      }
    }
  }
}

// showing existing posts

.uf__post {
  .h5 {
    @extend .fs-20;
  }
  &__elem {
    margin-top: 30px;
    @extend .fs-16;
  }
  &__date {
    color: $text-secondary;
  }
  &__author-img {
    width: 60px;
  }

  .dropdown-menu {
    font-size: 14px;
  }

  [data-isVarified="false"] {
    opacity: 0;
    z-index: -1;
  }

  // post actions wrap
  .uf__post__actions__wrap {
    .text {
      display: none;
      font-size: 14px;
      color: $text-muted;
    }
  }

  &__actions__meta {
    color: $text-secondary;

    .upam__item {
      padding: 0 15px;
      border-right: 1px solid rgba($text-secondary, .2);

      &:last-child {
        padding-right: 0;
        border-right: none;
      }
    }
  }

  // svg icons style
  svg {
    cursor: pointer;
    width: 20px;

    * {
      fill: $icon-color;
      stroke: $icon-color;
      transition: all .3s ease-in-out;
    }
    &:hover * {
      fill: $primary;
      stroke: $primary;
    }
  }

  &__settings-trigger {
    svg {
      width: 24px;
    }
  }

  [data-liked="true"] {
    svg {
      * {
        fill: $primary;
        stroke: $primary;
      }
      &:hover * {
        fill: $icon-color;
        stroke: $icon-color;
      }
    }
  }

  .varified-badge svg {
    cursor: default;
    * {
      fill: $primary;
      stroke: $primary;
    }
  }

  &__actions__comment {
    svg {
      width: 17px;
    }
  }

  .user-profile__pp {
    width: 25px;
    min-width: 25px;

    img {
      width: 100%;
    }
  }

  // feed posts image/images gallery
  &__image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    // when theres even number of images
    &[data-image-count="even"] {
      & > a {
        @extend .mb-4;
        width: 47.5%;
        // remove bottom spacing from last items
        &:last-child,
        &:nth-last-child(2) {
          @extend .m-0;
        }
      }
    }

    // when theres odd number of images
    &[data-image-count="odd"] {
      & > a {
        width: 47.5%;
        &:first-child {
          @extend .w-100;
          @extend .mb-4;
        }
      }
    }
  }

  // show comments
  &__all-comments {
    .ufp-comment__body {
      border-top-left-radius: 0 !important;
    }
  }

  .ufp__comment__actions {
    line-height: 1;
    &__reply {
      cursor: pointer;
      transition: color .3s ease-in-out;
      &:hover {
        color: $primary;
        svg * {
          stroke: $primary;
        }
      }
    }
  }

  .ufp__comment {
    &--reply {
      //margin-left: calc(50px + 1.5rem); des
      margin-left: 0;
    }
  }

}
.uf__post--no-posts {
  svg {
    width: 80px;
    cursor: default;

    &:hover {
      * {
        stroke: $icon-color;
        fill: $icon-color;
      }
    }
  }
}

// responsive styles

@include media-breakpoint-up(sm) {
  .uf__post {
    .ufp__comment {
      &--reply {
        margin-left: calc(50px + 1.5rem);
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .uf__post {
    .user-profile__pp {
      width: 50px;
      min-width: 50px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .user-feed {
    margin-top: 0;
    padding-left: 0;
  }
}

@include media-breakpoint-up(xl) {
  .user-feed {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 575px) {
  .header__nav svg {
    width: 18px;
  }

  .header__nav .nav-item--link {
    padding: 5px 12px;
    display: inline-block;
  }

  .uf__post {
    padding: 10px !important;

    &__add-comment {
      .custom-textarea {
        margin-left: 10px!important;
      }
    }

    .uf__post__actions__wrap {
      flex-wrap: wrap;

      .uf__post__actions {
        width: 100%;
        justify-content: space-between !important;
        //margin-bottom: 15px;
        padding: 0 15px;

        .upa__item {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          &:last-child {
            margin-right: 0 !important;
          }
        }
      }

      .text {
        display: inline-block;
        margin-left: 10px;
        color: rgba(69, 69, 69, 0.4);
      }

      .uf__post__actions__meta {
        display: none !important;
      }
    } // uf_post_wrap
  } // uf_post

  .ufp__comment__item {
    .ml-4 {
      margin-left: 10px!important;
    }
  }

  .add-comment-textarea {
    padding: 10px!important;
    font-size: 13px;
  }
  .ufp-comment__body {
    padding: 10px!important;
    .comment__time {
      font-size: 12px;
    }
  }
  .ufp__comment__actions {
    font-size: 12px;
    line-height: 1.4 !important;

    &__reply {
      svg {
        width: 17px;
      }
    }
  }
  .ufp__comment__actions__reply-trigger,
  .ufp__comment__actions__likes-count {
    margin-left: 8px!important;
  }
  .ufp__comment__actions__likes-count {
    padding-top: 4px;
  }
  // comment reply
  .ufp__comment--reply {
    font-size: 85%;

    .ufp__comment__item {
      margin-left: 20px!important;
    }

    .ufp-comment__body {
      border: none !important;
      padding: 0!important;
    }
  }
}

@media screen and (max-width: 320px) {
  #notifications__mega-menu,
  #messages__mega-menu,
  #settings__mega-menu {
    left: 0 !important;
  }
}