.page-profile {
  .main-content {
    max-width: 980px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }

  .user-feed {
    padding-right: 15px;
  }

  .profile-card {
    position: relative;

    .user-profile__pp {
      width: 180px;
      min-width: 180px;
      overflow: hidden;
      margin: -90px 20px 0 0;
      z-index: 4;

      img {
        width: 100%;
      }
    }

    .card-head {
      position: relative;
    }
    &__actions {
      position: absolute;
      right: 2rem;
      bottom: 2rem;

      svg {
        height: 25px;
        width: 22px;
      }

      .btn-add-friend svg {
        height: 26px;
        width: 25px;
      }

      .btn {
        background-color: #fff;
        @extend .fs-14;

        &:hover {
          background-color: $primary;
        }
        .icon {
          margin-left: 10px;
        }
      }
    }
  }

  .profile-card__tabs {
    margin-left: 200px;
    .nav-pills {
      margin-bottom:  0!important;
      z-index: 9;

      .nav-link {
        color: $text-secondary;
        font-weight: 600;

        &.active {
          background-color: white;
          color: $dark;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: 20px;
            background-color: $primary;
          }
        }
      }
    }
  }
  // tab content
  .about-tab-content {
    .user__bio {
      svg {
        width: 18px;
        cursor: pointer;
        * {
          stroke: $icon-color;
          fill: $icon-color;
        }
      }
      // bio item
      &__item {
        @extend .fs-14;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;

        .icon {
          margin-right: 15px;
        }
      }
    }

    // recent photos gallery
    .card--recent-photos {
      .gallery-photo {
        width: 23%;
        display: inline-block;
        margin-bottom: 5px;

        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3),
        &:nth-last-child(4) {
          margin-bottom: 0;
        }

        img {
          width: 100%;
        }
      }
    }

  }

  // friends tab content
  .friends-tab-content {
    padding: 0 .5rem;

    .friend-card {
      margin-bottom: 2rem;
      padding: 0;
      width: 23%;

      .card-footer {
        &:before {
          content: none;
        }
      }
    }
  }

  // photos tab content
  .photos-tab-content {
    margin-top: -10px;

    .gallery-photo {
      overflow: hidden;
      width: 25%;
      padding: 10px;

      .img-thumbnail {
          border-radius: 10px !important;
      }
    }
  }

}

/*---- responsive styles -----*/
@media screen and (max-width: 767px) {
  .page-profile {
    .profile-card {
      &__actions {
        bottom: 10px;
        right: 10px;
        .text {
          display: none;
        }
        .btn {
          .icon {
            margin-left: 0;
          }
        }
      }
      .card-body {
        position: relative;
        padding-top: 0;
        flex-wrap: wrap;
      }
      .user-profile__pp {
        width: 100px;
        min-width: 100px;
        margin: 20px auto;
        //top: 20px;
        //left: 50%;
        //transform: translateX(-50%);
        //position: absolute;
      }
      .card-body__left,
      .card-body__right {
        width: 100%;
        text-align: center;
        justify-content: center !important;
      }
      .card-body__left {
        margin-bottom: 1.25rem;
        flex-direction: column;
      }
    }

    .profile-card__tabs {
      margin-left: 0;
      text-align: center;
      .nav-pills {
        justify-content: center;
      }
    }

    // tab content
    // friends tab content
    .friends-tab-content {
      .friend-card {
        width: 47%;
      }
    }

    // photos tab content
    .photos-tab-content {
      .gallery-photo {
        width: 33.333333%;
        padding: 5px;
      }
    }

  }
}