#imageLightbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
  border-radius: 10px;
  overflow: hidden;

  img {
    border-radius: 10px;
  }

  &.show-me {
    z-index: 300;
    opacity: 1;
    transition: opacity .3s .25s ease-in-out;
  }
}

#lightboxOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(black, .8);
  z-index: -1;

  &.show-me {
    z-index: 200;
    opacity: 1;
    transition: opacity .3s ease-in-out;
  }

  svg {
    cursor: pointer;
    width: 20px;
    position: fixed;
    right: 30px;
    top: 30px;
  }
}

/*-------------- video popup ----------*/
.video-popup {
  .modal-dialog {
    max-width: 800px;
    margin: 30px auto;
  }

  .modal-body {
    position: relative;
    padding: 0px;
  }
  .close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
  }
}