//  @include media-breakpoint-up(sm) {}
//  @include media-breakpoint-up(md) {}
//  @include media-breakpoint-up(lg) {}
//  @include media-breakpoint-up(xl) {}

/* --- popular fonts sizes --- */
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}

// bos shadow
@mixin box-sad($x: 0px, $y: 3px, $color: $icon-color,$a: .4) {
  box-shadow: $x $y 20px 0 rgba($color, $a);
}

// light text
.text-light {
  color: $text-secondary!important;
}

button {
  background: transparent;
}

// font size on mobile
@media screen and (max-width: 556px) {
  .fs-12, .fs-13, .fs-14, .fs-15, .fs-16, .fs-17, .fs-18, .fs-20, .fs-22, .fs-26, input, .h5, textarea {
    font-size: 90%;
  }
}